:root { 
    --black_900_7f:#0b150f7f; 
    --gray_50_01:#f7fbff; 
    --light_blue_900_33:#00669933; 
    --black_900_b2:#0b150fb2; 
    --red_A100_01:#f18475; 
    --black_900_90:#0b150f90; 
    --deep_orange_100_01:#ffd2b9; 
    --orange_100_01:#f9cea2; 
    --red_500_1e:#f443361e; 
    --orange_100_02:#fbd0a4; 
    --red_400:#f34d4d; 
    --green_A100:#c7ffb9; 
    --black_900_01:#050402; 
    --yellow_800:#fcb017; 
    --teal_600_33:#009e6033; 
    --light_blue_A700:#007fff; 
    --teal_600_1e:#009e601e; 
    --blue_gray_900:#282f3e; 
    --black_900_03:#180a01; 
    --black_900_02:#150801; 
    --deep_orange_100:#fdcaa0; 
    --black_900_04:#000000; 
    --black_900_0a:#0b150f0a; 
    --gray_400:#b2b5b3; 
    --amber_500:#ddc211; 
    --amber_500_14:#ddc21114; 
    --black_900_0f:#0b150f0f; 
    --deep_purple_400_14:#7742da14; 
    --gray_900_1e:#00241b1e; 
    --black_900_99:#0b150f99; 
    --black_900_19_01:#00000019; 
    --black_900_19:#0b150f19; 
    --black_900_14:#0b150f14; 
    --red_300:#c29164; 
    --gray_50:#f8f8f8; 
    --red_500_b2:#f44336b2; 
    --white_A700_cc:#ffffffcc; 
    --black_900_66:#0b150f66; 
    --black_900_61:#0b150f61; 
    --purple_A700:#9f00d7; 
    --yellow_900:#e97824; 
    --teal_600_14:#009e6014; 
    --gray_400_33:#c6c9c833; 
    --red_300_02:#f37a6d; 
    --red_300_03:#c49265; 
    --red_300_04:#c09064; 
    --black_900_a2:#0b150fa2; 
    --red_300_05:#b6885e; 
    --gray_500:#9da19f; 
    --red_300_01:#ba8b60; 
    --gray_900:#17211b; 
    --red_900_01:#99001b; 
    --red_500_0c:#f443360c; 
    --purple_A700_01:#9e00d6; 
    --orange_100:#facfa3; 
    --gray_100:#eefaf6; 
    --purple_100:#ffb9fb; 
    --gray_100_a2:#f0fbf7a2; 
    --white_A700_90:#ffffff90; 
    --light_blue_900:#006699; 
    --light_blue_A700_1e:#007fff1e; 
    --green_A700:#00b54b; 
    --black_900_41:#0b150f41; 
    --black_900_7f_01:#0000007f; 
    --light_blue_A700_33:#007fff33; 
    --gray_600:#6d6d6d; 
    --black_900_4c:#0b150f4c; 
    --white_A700_0c:#ffffff0c; 
    --black_900_4f:#0000004f; 
    --indigo_400:#4b8cca; 
    --gray_400_01:#c6c9c8; 
    --white_A700:#ffffff; 
    --deep_purple_400_3d:#7742da3d; 
    --light_blue_A700_19:#007fff19; 
    --red_900:#99001c; 
    --indigo_A200:#4d63f3; 
    --red_500:#f44336; 
    --green_800:#1f9900; 
    --black_900_1e:#0b150f1e; 
    --light_blue_A700_0a:#007fff0a; 
    --teal_600:#009e60; 
    --black_900:#0b150f; 
    --black_900_28:#0b150f28; 
    --pink_200:#fa8dce; 
    --black_900_26:#00000026; 
    --gray_700:#637f5c; 
    --gray_600_02:#997e6f; 
    --green_800_01:#1e9900; 
    --gray_600_01:#935379; 
    --blue_gray_400:#996f97; 
    --indigo_50:#e5e9ef; 
    --red_A100:#f48378; 
    --white_A700_a2:#ffffffa2; 
    --gray_900_01:#00241b; 
    --deep_purple_400_33:#7742da33; 
    --white_A700_87:#ffffff87; 
    --black_900_33:#0b150f33; 
    --black_900_cc:#0b150fcc; 
    --gray_900_b2:#00241bb2; 
    --indigo_900:#272667;
    --light_purple_01: #5956FF;
    --dark_black_01: #0B150F;
    --dark_gray_01: #6D736F;
    --red_01: #CA3433;
    --green_01: #4CAF50;
    --light_grey_shade_01: #F9F9F9;
    }